<h1>Edit Skill</h1>
 
<%= form_with(model: @skill, local: true) do |form| %>
 
    <% if @skill.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@skill.errors.count, "error") %> prohibited
            this skill from being saved:
        </h2>
        <ul>
            <% @skill.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
 
    <div class="field"> 
        <%= form.label :title %><br> 
        <%= form.text_area :title %> 
    </div> 
    <p>
        <%= form.submit %>
    </p>
 
<% end %>
 
<%= link_to 'Back', skills_path %>